# Dependencies
node_modules/

# Production build
build/
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
